.sidebar-open-0,
.sidebar-open-1,
.sidebar-open-2,
.sidebar-open-3 {
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in;
  border: 0;
  padding: 0;
  z-index: 999;
}

.sidebar-open-1 {
  left: calc(5rem + 391px);
  .inner-text {
    transform: rotate(180deg);
  }
}

.sidebar-open-3 {
  left: calc(5rem + 390px * 2 + 1px);
}

.inner-text {
  margin: 0;
  border: 1px solid #e4e4e4;
  border-left: 1px solid #dbdbdb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-block: 1px;
  padding-inline: 6px;
  font-size: 2rem;
  background-color: white;
}

.sidebar-panel-0,
.sidebar-panel-1,
.sidebar-panel-2,
.sidebar-panel-3 {
  position: absolute;
  transition: all 0.3s ease-in;
  top: 0;
  width: 390px;
  z-index: 2;
}

.sidebar-panel-0,
.sidebar-panel-2 {
  left: -3px;
  transform: translateX(-150%);
}
.sidebar-panel-1,
.sidebar-panel-3 {
  left: -1px;
  transform: translateX(0%);
}
