.top-menu-container {
  position: absolute;
  top: 25px;
  left: 4.5rem;
  ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;

    li {
      float: left;
      text-align: center;
    }
    li:not(:first-child) {
      margin-left: 6px;
    }
  }
}
.top-menu-button {
  display: flex;
  height: 38px;
  padding: 0px 13px 0px 10px;
  border-radius: 19px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
