.profile {
  border-radius: 20px;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid rgb(232, 232, 232);
  text-align: center;
}

.profile-img {
  width: 0.8rem;
  height: 0.8rem;
}

.menu {
  border-radius: 20px;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  text-align: center;
  background-color: white;
}

.menu-img {
  width: 0.8rem;
  height: 0.8rem;
}
