.header-category-all {
  position: relative;
  z-index: 200;
}
.header-category-all > * {
  z-index: auto;
}

.category-button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffff;
}

.img-container {
  width: 100%;
}
.category-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 0.75rem;
  font-family: 'Mukta', sans-serif;
}

.category-container:hover {
  color: rgb(4, 117, 244);
}

.category-text {
  z-index: 200;
  background-color: white;
}
