.category {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 5rem;
  float: left;
  z-index: 300;
  background-color: white;
  justify-content: flex-start;
  border-right: 1px solid #dbdbdb;
}
.category > * {
  z-index: auto;
}

.category-container:hover {
  color: rgb(4, 117, 244);
}

.profile-menu {
  padding-top: 3%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  align-items: center;
  position: relative;
  background-color: white;
  z-index: 200;
  display: flex;
  flex-direction: column;
  gap: 3%;
  bottom: 0;
  width: 5rem;
  height: 7%;
  background-color: white;
}

.ImgStyle {
  cursor: pointer;
  position: relative;
  background-color: white;
  z-index: 200;
}
