.category {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 5rem;
  float: left;
  z-index: 10;
  justify-content: flex-start;
  gap: 2%;
}

.category-container:hover {
  color: rgb(4, 117, 244);
}

.profile-menu {
  margin-top: 190%;
  padding-top: 10%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3%;
  bottom: 0;
  width: 100%;
  height: 8%;
}

.ImgStyle {
  cursor: pointer;
}
