@import '../styles/mixin';

.wrapper {
  height: calc(100vh - 121px);
  width: 100%;
  .tmp {
    height: calc(100% - 1rem);
    padding: 1rem;
    text-align: center;
    h1 {
      margin-top: 0;
    }
  }
}
