.content-wrap{
    width: 15rem;
    height: 10rem;
    border: none;
    color: white;
    background-color: #313131;
    z-index: 10;
    padding: 3%;
    border-radius: 10px;
    font-family: "Mukta", sans-serif;
}