.home-container {
  height: calc(100vh - 60px);
  .main-area {
    height: 100%;
    scroll-snap-align: start;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    overflow: hidden;
    display: grid;
    background: #000;
  }
  .main-area:nth-of-type(1) {
    grid-template: 10% 20% 20% 20% 20% 10%/10% 1fr 10%;
    background: white;
    color: white;
  }

}

.rest-area {
  height: calc(100vh - 60px);
  background: #4cc1be;
}
.content-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 300%;
  right: 400%;
  gap: 2rem;
  background-color: #4b5965;
  width: 40vw;
  height: 40vh;
  padding: 10px;
  border-radius: 10px;
}
.background-logo {
  position: absolute;
  top: -5%;
  left: 5%;
  width: 50%;
  height: 80%;
  z-index: 0;
}
