.category {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:4rem;
  float: left;
  z-index: 1;
  gap: 8rem;
  justify-content: flex-start;
}
.category_button {
  border-radius: 10px;
  width:4rem;
  height: 4rem;
  border: none;
}
.ImgStyle {
  width:3rem;
  height: 3rem;
}
