@keyframes move {
  from {
    margin-top: 30vh;
  }
  to {
    margin-top: 0;
  }
}
.modal {
  width: 30vw;
  height: 80vh;
  padding: 0;
  border: none;
  animation-name: move;
  animation-duration: 0.5s;
}
